<nav>
    <div class="logo">
        <img src="assets/logo.svg" alt="Verivox Company Logo">
        <span>Verivox - Compare Tariffs</span>
    </div>
        <ul>
        <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/electricity" routerLinkActive="active" ariaCurrentWhenActive="page">Electricity</a></li>
        <li><a routerLink="/gas" routerLinkActive="active" ariaCurrentWhenActive="page">Gas</a></li>
        <li><a routerLink="/insurance" routerLinkActive="active" ariaCurrentWhenActive="page">Insurance</a></li>
    </ul>
</nav>
<router-outlet />